---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  selector: string | undefined;
  class?: string;
}

const { selector, class: customClass } = Astro.props;
---

<button id="copyButton" data-selector={selector} class={` ${customClass || ''}`}>Copy to Clipboard</button>
<script>
  const copyButton = document.getElementById('copyButton') as HTMLButtonElement;
  const originalButtonText = copyButton.innerText;
  const selector = copyButton.dataset.selector;

  copyButton.addEventListener('click', () => {
    if (!selector) {
        console.error('Selector is undefined or empty');
        return
    }
    const elementToCopy = document.querySelector(selector) as HTMLTextAreaElement;
    if (elementToCopy) {
      elementToCopy.select();
      document.execCommand("copy");
      console.log('Text copied to clipboard');
      copyButton.innerText = 'Copied';
      setTimeout(() => {
        copyButton.innerText = originalButtonText;
      }, 2000);
    } else {
      console.error('Element not found for selector:', selector);
    }
  });
</script>
