---
import CopyToClipboardButton from "../../components/CopyToClipboardButton.astro"
---
<p id="copyme">Lorem ipsum</p>
<h1>Lorem Ipsum</h1>
<CopyToClipboardButton selector="#copyme" />

<script>
  
</script>
